{% extends 'GSDivinoApp/base.html' %}
{% load static %}

{% block content %}
    <form class="card" action="{% url 'update_bill' pk=bill.pk %}" method="POST" id="form_card"> {% csrf_token %}
        <div class="card-body">
            <h4 class="card-title">Update Bill</h4>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="{{bill.name}}">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select name="status" class="form-control" required>
                    <option value="Paid" {% if bill.status == "Paid" %}selected{% endif %}>Paid</option>
                    <option value="Unpaid" {% if bill.status == "Unpaid" %}selected{% endif %}>Unpaid</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" class="form-control" value="{{bill.price}}">
            </div>
            <div class="form-group">
                <label for="date">Due date</label>
                <input type="datetime-local" name="date" class="form-control" value="{{bill.due_date}}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}